.header {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 2.5rem;
  color: black;
}

.header .navbar {
  margin-right: 10%;
}

.home-about-us-content a {
  text-decoration: none;
  background: red;
  color: white;
  font-size: 28px;
  border-radius: 5px;
  padding: 12px;
}

.header .navbar a {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: #247ba0;
  text-transform: uppercase;
  text-decoration: none;
}

.header .navbar a:hover {
  color: orangered;
  text-decoration: underline;
}

#humberger {
  font-size: 2rem;
  cursor: pointer;
  color: black;

  /* display: none; */
  position: relative;
  right: 20px;
}

.home-section {
  width: 97vw;
  padding: 2%;
}

.home-section .slide {
  text-align: center;
  padding: 2rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center !important;
  min-height: 60rem;
}

.services {
  border-radius: 2px;
}

.services-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 6rem;
  text-transform: uppercase;
  color: black;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  margin: 5% 15%;
}

.services .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  background: #258b00;
  cursor: pointer;
  color: white;
  font-size: 18px;
  text-transform: capitalize;
}

.home-about-section {
  display: flex;
  align-items: center;
  margin: 5% 15%;
  border: yellow solid 2px;
  padding: 20px;
  width: 98vw;
}

.home-about-section .image {
  flex: 1;
}

.home-about-section .image img {
  margin-right: 20px;
  border-radius: 6px;
  height: 350px;
}

.home-about-us-content h2 {
  font-size: 40px;
  font-weight: 500;
  color: #000202;
  margin-bottom: 0;
}

.home-about-us-content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 1.1;
  padding: 1rem 0;
  text-align: justify;
  margin-top: 0;
}

.home-package h1 {
  font-size: 40px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .btn {
    background: tomato;
    margin-top: 1rem;
    color: white;
    font-size: 1.4rem;
    padding: 1rem 3rem;
    cursor: pointer;
    width: 200px;
    border-radius: 6px;
  }

  .btn:hover {
    background: #38dd0f;
  }

  .home-offer .content {
    width: 50vw;
    margin: 5%;
  }

  .home .slide .content {
    width: 85rem;
    display: flex;
  }

  .home .slide .content span {
    display: block;
    font-size: 2.2rem;
    padding-bottom: 1rem;
    animation: fadeIn 0.2s linear backwards 0.2s;
  }

  .home-offer .content h3 {
    font-size: 50px;
    padding-bottom: 12px;
  }

  .home .slide .content h3 {
    font-size: 5vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    animation: fadeIn 0.2s linear backwards 0.4s;
  }

  .home .slide .content .btn {
    animation: fadeIn 0.2s linear backwards 0.6s;
  }

  .services h1 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    align-items: center;
    font-size: 72px;
    margin: 40px;
  }

  .services .box-container {
    display: flex;
    flex-wrap: wrap;
  }

  .services .box-container .box {
    margin: 2rem;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background: #247ba0;
    color: white;
  }

  .home-packages .box-container .box {
    display: flex;
    flex-direction: column;
    margin: 30px;
    height: 100%;
    background-color: white;
  }

  .services .box-container .box:hover {
    background: tomato;
  }

  .services .box-container .box h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
  }

  .home-about-section .image {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
  }

  .logo img {
    width: 70%;
  }

  .home-about-section .image img {
    width: 50vw;
    margin-left: 5%;
  }

  .home-about-us-content {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    padding-bottom: 2%;
  }

  .home-about-us-content h2 {
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
  }

  .home-about-us-content p {
    font-size: 1.2rem;
    padding: 1rem 0;
    line-height: 2;
    color: var(--black);
    text-align: justify;
  }

  .home-packages {
    background: #f4f3f2;
    justify-content: space-between;
  }

  .heading-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 4rem;
    text-transform: uppercase;
    color: black;
  }

  .home-packages .box-container {
    display: flex;
    justify-content: space-between;
    width: 97vw;
    height: 552px;
  }

  .home-packages .box-container .box .image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-offer .content .offerimage img {
    width: 100%;
    height: 100%;
  }

  .home-packages .box-container .box .image img {
    width: 100%;
  }

  .home-packages .box-container .box:hover .image img {
    transform: scale(1.1);
    transition-duration: 2s;
  }

  .home-packages .box-container .box .content {
    margin: 20px 0;
    width: 100%;
  }

  .home-offer .content p {
    line-height: 150%;
    margin-bottom: 30px;
  }

  .home-packages .box-container .box .content p {
    margin: 30px;
    display: flex;
    justify-content: center;
  }

  .home-packages .box-container .box .content h2 {
    display: flex;
    justify-content: center;
  }

  .home-packages .box-container .box .content h3 {
    display: flex;
    justify-content: center;
    font-size: 28px;
  }

  .home-packages .box-container .box .content .btn {
    display: flex;
    justify-content: center;
    margin: 30px;
  }

  .home-packages .load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }

  .home-offer {
    display: flex;
    background: lightgrey;
    width: 97vw;
  }
}
