
.header {
  display: flex;
  position: fixed;
  width: 97vw;
  z-index: 1;
  top: 0;
  background-color: white;
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content: space-between;
  border: #258b00 solid 3px;
}

.header .logo {
  font-size: 2.5rem;
  color: black;
}

.header .navbar {
  margin-right: 10%;
}

.home-about-us-content a {
  text-decoration: none;
  background: red;
  color: white;
  font-size: 28px;
  border-radius: 5px;
  padding: 12px;
}

.header .navbar a {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: #247ba0;
  text-transform: uppercase;
  text-decoration: none;
}

.header .navbar a:hover {
  color: orangered;
  text-decoration: underline;
}

#humberger {
  font-size: 2rem;
  cursor: pointer;
  color: black;

  /* display: none; */
  position: relative;
  right: 20px;
}

.home-section {
  width: 97vw;
  padding: 0;
  border: #ff00b3 solid 3px;
}

.home-section .slide {
  display: flex;
  text-align: center;
  padding: 2rem;
  width: 90vw;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center !important;
  min-height: 40rem;
}

.services {
  border: green solid 2px;
}

.services-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 6rem;
  text-transform: uppercase;
  color: black;
}

.services .box-container {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  background: #258b00;
  cursor: pointer;
  color: white;
  font-size: 18px;
  text-transform: capitalize;
}

.home-about-section {
  display: flex;
  align-items: center;
  margin: 5% 10%;
  border: rgb(223, 12, 114) solid 2px;
  padding: 20px;
}

.home-about-section .image {
  flex: 1 1;
}

/* .home-about-section {
  border: yellow solid 2px;
  padding: 20px;
} */

.home-about-section .image img {
  margin-right: 20px;
  border-radius: 6px;
  height: 350px;
}

.home-about-us-content h2 {
  font-size: 40px;
  font-weight: 500;
  color: #000202;
  margin-bottom: 0;
}

.home-about-us-content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 1.1;
  padding: 1rem 0;
  text-align: justify;
  margin-top: 0;
}

.home-package h1 {
  font-size: 40px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-packages{
  background: var(--light-bg);
  background: #ebe4e4;
}
.home-about{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.heading-title{
  text-align: center;
  margin-bottom: 3rem;
  font-size: 6rem;
  text-transform: uppercase;
  color:var(--black);
}
.home-packages .box-container{
  display: flex;
  gap: 2rem;
  margin: 5% 8%;
}
.home-packages .box-container .box{
    box-shadow: var(--box-shadow);
    background: var(--white);
    background: white;
    padding-bottom: 2%;
    
 }
 
.home-packages .box-container .box .image{
   height: 15rem;
   overflow: hidden;
}

.home-packages .box-container .box .image img{
   height: 100%;
   width: 100%;
   transition: .2s linear;
}

.home-packages .box-container .box .content{
   text-align: center;
}

.home-packages .box-container .box .content h3{
   font-size: 1.5rem;
   color:var(--black);
}

.home-packages .box-container .box .content p{
   font-size: 1.2rem;
   color:var(--light-black);
   padding:1rem 0;
}

.home-packages .load-more{
   text-align: center;
   margin-top: 2rem;
}

.btn{
  display: inline-block;
  background: #e36308;
  margin-top: 1rem;
  font-size: 1.7rem;
  padding:1rem 3rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border-radius: 8px;
}

.btn:hover{
  background: #2bff00;
}
.home-offer {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5%;
  background: #ded7d7;
}
.home-offer .content {
  background: white;
  flex: 1;
  line-height: 250%;
  text-align: justify;
  padding-left: 30px;
}
.home-offer .content h3 { 
  font-size: 30px;

}



@media only screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading-title {
    font-size: 3.5rem;
  }

  .logo img {
    width: 70%;
  }
}
