.form-container {
  min-height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.form-container form {
  padding: 2rem;
  width: 50rem;
  border-radius: 3%;
  background: url();
  background-color: bisque;
  text-align: center;
}

.form-container form h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--black);
}

.form-container form .box {
  width: 100%;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border: var(--border);
  margin: 1rem 0;
}

.form-container form p {
  padding-top: 1.5rem;
  font-size: 2rem;
  color: var(--black);
}

.form-container form p a {
  color: var(--purple);
}

.form-container form p a:hover {
  text-decoration: underline;
}

.form-container form .btn {
  background: var(--tomato);
  color: brown;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
