:root {
  --main-color: #247ba0;
  --black: #222;
  --white: #fff;
  --tomato: #fd5e42;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(--main-color);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 75%;
  overflow-x: hidden;
}

section {
  padding: 5rem 10%;
}

/* header section style starts */
.heading {
  background: url(images/package-bg.jpg) no-repeat;
  background-size: cover !important;
  background-position: center !important;
  padding-top: 10rem;
  padding-bottom: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading h1 {
  font-size: 8rem;
  text-transform: uppercase;
  color: var(--white);
  text-shadow: var(--text-shadow);
}

.btn {
  display: inline-block;
  background: var(--tomato);
  margin-top: 1rem;
  color: var(--white);
  font-size: 1.7rem;
  padding: 1rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--main-color);
}

.heading-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 5rem;
  text-transform: uppercase;
  color: var(--black);
}

/* header section starts */

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
  display: flex;
  padding-top: 2rem;
  padding-bottom: 0;
  box-shadow: var(--box-shadow);
  align-items: center;
  gap: 20.3%;
  justify-content: center;
}

.header .logo {
  color: var(--black);
}

.logo img {
  width: 150px;
  height: 120px;
}

.header .navbar {
  display: flex;
  width: 100%;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #247ba0;
  text-transform: uppercase;
}

.header .navbar a:hover {
  color: var(--tomato);
}

#menu-btn {
  cursor: pointer;
  color: var(--black);
  display: none;
}

/* package section style starts */

.packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
  gap: 2rem;
}

.packages .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  background: var(--white);
  display: none;
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6) {
  display: inline-block;
}

.packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.packages .box-container .box:hover .image img {
  transform: scale(1.1);
}

.packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.packages .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

/* footer part style s */
.footer .box-container .box h3 {
  color: var(--white);
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

/* footer part style */
.packages .box-container .box .content h3 {
  color: var(--black);
}

.packages .box-container .box .content p {
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

.packages .load-more {
  text-align: center;
  margin-top: 2rem;
}

/* package section style ends */

/* media queries starts */

@media (max-width: 1200px) {
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }

  .home .slide .content h3 {
    font-size: 10vw;
  }
}

@media (max-width: 768px) {
  .heading h1 {
    font-size: 4rem;
  }

  #menu-btn {
    display: inline-block;
    font-size: x-large;
    transition: 0.2s linear;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header .navbar {
    position: absolute;
    display: block;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    padding: 2rem;
    transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header {
    display: flex;
    gap: 60%;
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading-title {
    font-size: 3.5rem;
  }
}

/* media queries ends */
