body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    background-color: white;
}

.form-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: whitesmoke;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}